<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment :: head(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>Create Todo</title>
    <link rel="stylesheet" href="/static/css/create-todo.css">
</head>
<body>
<header>
    <section th:replace="fragment :: navbar(${upload.getGeneratedName()})"></section>
</header>

<form action="/main/createTodo" method="post">
    <h2>Create Todo</h2>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter todo name" required>
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description" placeholder="Enter description" required></textarea>
    </div>
    <div>
        <label for="deadline">Deadline:</label>
        <input type="datetime-local" id="deadline" name="deadline" required>
    </div>
    <div>
        <button type="submit" class="btn btn-success">Create Todo</button>
    </div>
</form>

<section th:replace="fragment::js_links"></section>
</body>
</html>
